<?xml version="1.0" encoding="utf-8"?>
<databases>
  <connection name="Platform" connectionString="server=.;uid=sa;pwd=123;database=platform;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>
  <connection name="Order" connectionString="server=.;uid=sa;pwd=123;database=Order;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>
  <connection name="Product" connectionString="server=.;uid=sa;pwd=123;database=Product;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>
  <connection name="UserCenter" connectionString="server=.;uid=sa;pwd=123;database=UserCenter;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>
</databases>
